[Unit]
Description=Seed Komodo config files from onepassword
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/etc/usr/sbin/komodo-seed-config.sh
RemainAfterExit=yes

[Install]
RequiredBy=machines.target komodo-core.service komodo-mongo.service komodo-periphery.service